@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 21 91% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 21 91% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 21 91% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 21 91% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 21 91% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 21 91% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

#warp-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    background:rgba(0,10,20,1) url(https://i.imgur.com/r838U7u.jpg) center no-repeat;
    background-size:cover;
}

#warp-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.bg-grid-orange-900\/10 {
    background-image: linear-gradient(to right, hsl(var(--primary) / 0.1) 1px, transparent 1px), linear-gradient(to bottom, hsl(var(--primary) / 0.1) 1px, transparent 1px);
    background-size: 4rem 4rem;
}

/* Circular Nav Styles */
.circular-nav {
    --_clr-txt: hsl(var(--foreground));
    --_clr-txt-svg: hsl(var(--primary));
    --_ani-speed: 6s;

    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}
.circular-nav-button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: 'stack';
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    line-height: normal;
    overflow: visible;
}

.circular-nav-button > span, .circular-nav-button > svg {
    grid-area: stack;
    transition: all 300ms ease-in-out;
}

/* nav icon */
.circular-nav-button > .nav-icon {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
}
/* hover - hide text */
.circular-nav-button:focus-visible > .nav-text,
.circular-nav-button:hover > .nav-text {
    transform: scale(0);
}
/* hover - reveal icon */
.circular-nav-button:focus-visible > .nav-icon,
.circular-nav-button:hover > .nav-icon {
    transform: scale(1);
}

/* nav SVG circular text*/
.circular-nav-button > svg {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    color: var(--_clr-txt-svg);
    pointer-events: none;
}
/* hover - reveal rotating SVG */
.circular-nav-button:focus-visible > svg,
.circular-nav-button:hover > svg {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition-delay: 150ms;
    transition: all 300ms ease-in-out;
}

.circular-nav-button svg g {
    transform-origin: center;
    animation: rotate var(--_ani-speed) linear infinite;
 }


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
